<% if order.line_items.assemblies.any? %>
    <div class="card-body">
        <% order.line_items.assemblies.each do |item| %>
          <% item.parts.each do |part| %>
            <tbody>
              <td class="line-item-image image text-center">
                  <%= link_to small_image(part) %>
              </td>
              <td class="line-item-name text-center">
                  <%= link_to part.name, edit_admin_product_path(part) %>
                  <br>
                  <%= "(#{part.options_text})" if part.options_text.present? %>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
